menu "My Device Drivers"

config MYDRIVERS
	bool "mydrivers examples"

if MYDRIVERS
config MYDRIVERS_HELLOWORLD
	tristate "hello world"

config MYDRIVERS_GLOBALMEM
	tristate "globalmem"
endif

endmenu
